{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="padding-for-navbar">
        <h2>Qui sommes nous?</h2>

        <h2>Bienvenue dans notre monde</h2>

        <p> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Aperiam eos illum molestias
            neque optio quam tenetur? Commodi deleniti
            dicta dolor dolores ducimus ea eligendi eveniet
            iure libero, nihil nisi repudiandae vero voluptatum.
            Ad aliquam eaque harum maiores quia. Unde, voluptas?</p>

        <h2>Vision et valeurs</h2>
        <p>Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Dolor eum eveniet
            ex, expedita facere labore maxime placeat
            recusandae temporibus voluptate. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Adipisci aliquam amet
            architecto esse facilis fugit labore
            nesciunt, numquam qui sunt.</p>
    </div>
{% endblock %}