{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('affiliateService') }}
{% endblock %}

{% block body %}
    <h1 class="serviceTitle">Services Associé</h1>


    <h2 class="serviceTitle">Louez une voiture:</h2>
    <iframe class="iframe" id="inlineFrameExample"
            title="Louez un véhicule"
            width="1200"
            height="600"
            src="https://www.bsp-auto.com/ag_clickandtrip/">
    </iframe>
        <h3 class="serviceTitle"><a target="_blank" href="https://www.bsp-auto.com/ag_clickandtrip/">-> Lien direct vers le site <-</a></h3>


    <h2 class="serviceTitle">Assurance Voyage:</h2>
    <iframe class="iframe" id="inlineFrameExample"
            title="Louez un véhicule"
            width="1200"
            height="600"
            src="https://www.chapkadirect.fr/?app=cd_clicktrip">
    </iframe>
        <h3 class="serviceTitle"><a target="_blank" href="https://www.chapkadirect.fr/?app=cd_clicktrip">-> Lien direct vers le site <-</a></h3>


    <h2 class="serviceTitle">Retard et annulation:</h2>
    <iframe class="iframe" id="inlineFrameExample"
            title="Louez un véhicule"
            width="1200"
            height="600"
            src="https://www.flightright.fr/calculateur-d-indemnisation/?ext_promoCode=ct&utm_source=ct&utm_medium=widget&utm_campaign=link">
    </iframe>
        <h3 class="serviceTitle"><a target="_blank" href="https://www.flightright.fr/calculateur-d-indemnisation/?ext_promoCode=ct&utm_source=ct&utm_medium=widget&utm_campaign=link">-> Lien direct vers le site <-</a></h3>


    <h2 class="serviceTitle">Conseils:</h2>
        <h3 class="serviceTitle"><a target="_blank" href="https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays-destination/">-> Lien direct vers le site <-</a></h3>
{% endblock %}