{% extends "base.html.twig" %}
{% block body %}
    <h1>Devenir Partenaire</h1>
    <p>Vous souhaitez promouvoir votre destination ?
    Vous en avez marre de perdre du terrain et de compromettre votre créativité et votre originalité ?
    Vous souhaitez parler de votre incroyable pays et créer des itinéraires et des expériences de voyages authentiques pour les voyageurs ?
    Merci de votre intérêt pour Click & Trip. Nous sommes toujours intéressés par les entreprises qui cherchent à établir un partenariat, en particulier celles qui partagent notre philosophie : «  Créer des voyages sur mesure authentiques et plus responsables ».
    Veuillez compléter le formulaire ci-dessous avec vos coordonnées. Nous ne pouvons vous promettre de vous contacter immédiatement, mais nous conserverons vos coordonnées au moment où nous recherchons des partenaires pour votre destination.

    Qui est la meilleure personne à contacter? *
    Quelle est votre adresse email? *
    Quel est le nom de votre compagnie ? *
    Quelle est l'URL de votre site? *
    Parlez-nous un peu de votre entreprise ? *
    Où se situe votre entreprise ? *
    Dans quels pays proposez-vous des itinéraires authentiques aux voyageurs ?
    Couvrez-vous d'autres destinations ?
    Quand votre entreprise a-t-elle été créée? *
    Combien de personnes travaillent dans votre entreprise? *
    (à l'exclusion des guides / pilotes …)
    Environ combien de personnes avez-vous fait voyager l'année dernière? *
    Dans quel(s) secteur(s) (thématique, région, prix) êtes-vous spécialisé? *
    Quel est le budget minimum avec lequel vous pouvez travailler, par personne et par jour ? * basé sur 2 personnes voyageant)
    Quel est le panier moyen par dossier ? *
    Avez-vous une assurance responsabilité civile / Police d’assurance ? *
        Souhaitez-vous fournir d'autres informations? *</p>
    <a><input type="button"></a>
{% endblock %}