{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="padding-for-navbar">
        <h3 class="ui block header"> Foire au Question</h3>
        <h4>Question Fréquente?</h4>

       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Cupiditate laboriosam, voluptatem. A accusantium
            assumenda corporis ex id quisquam vitae, voluptates. </p>
    </div>
{% endblock %}