{% extends '../base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('inspiration') }}
{% endblock %}

{% block body  %}

    <div class="container" id="padding-for-navbar">
        <h3>Janvier</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Février</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Mars</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Avril</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Mai</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Juin</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Juillet</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Août</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Septembre</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Octobre</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Novembre</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Décembre</h3>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Cambodge</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Laos</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">Sri Lanka</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
