{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <img src="http://placehold.it/1500x200" alt="">

    <h3 class="ui block header">Mention légale</h3>
    <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Fuga fugiat inventore
        obcaecati omnis optio? Alias animi autem,
        cum magnam molestiae necessitatibus nihil
        quasi quis quisquam repellat tempore voluptas
        voluptatum! Asperiores enim error perspiciatis quae
        voluptas. Eaque facilis odio reprehenderit tempore.
        obcaecati omnis optio? Alias animi autem,
        cum magnam molestiae necessitatibus nihil
        quasi quis quisquam repellat tempore voluptas
        voluptatum! Asperiores enim error perspiciatis quae
        voluptas. Eaque facilis odio reprehenderit tempore.
    </p>
</div>

{% endblock %}