{% extends "base.html.twig" %}

{% block body %}
    <div class="container" id="padding-for-navbar">
<h3>Merci à tous ceux qui nous ont soutenus dans la campagne Ulule et qui ont cru en ce beau projet. C'est grâce à vous !</h3>
    <a target="_blank" href="/build/images/Merci.pdf"><input type="button" value="Voir les remerciements"></a>
    </div>
{% endblock %}