{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="padding-for-navbar">

        <img src="http://placehold.it/1500x300" alt="">

        <h2>Nos Engagements</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Dolores ea, error esse est ipsa molestiae
            molestias, nemo, numquam quis temporibus velit v
            eniam veritatis vero? Accusamus, aliquid at atque
            beatae consequuntur debitis eius iste nam nemo quas
            quisquam quod, similique sit temporibus vitae. Ad atque
            consequatur deserunt, distinctio eius fugit incidunt
            ipsa ipsam itaque maiores minima nemo rem sed sint vitae?</p>

        <h2>AGIR POUR UN TOURISME RESPONSABLE</h2>
        <a href="#">voir la chartre</a>
    </div>

{% endblock %}