{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
    <div class="container" id="padding-for-navbar">

        <h2>
            Politique de confidentialité et de protection des données en conformité avec les termes du règlement européen n°2016/679, dénommé règlement Général sur la protection des données (RGPD)
        </h2>
        <p>
            <strong>1– Avant-Propos</strong>  CLICK & TRIP, SAS au capital de 1000€ inscrit au registre des commerces et des sociétés de NANTES (SIREN XXXXXXX) procède au traitement de données personnelles (telles que définies ci-après) dans le cadre de son activité. La présente « Politique de Protection des Données personnelles » a pour objet d’informer toutes les personnes physiques concernées, désignées ci-dessous par « vous, votre/vos » sur la manière dont CLICK & TRIP collecte et utilise les données personnelles et sur les moyens dont Vous disposez pour contrôler cette utilisation. Cette politique a également pour objet de définir les engagements pris par CLICK & TRIP concernant le respect des principes du règlement européen n° 2016/679, dit Règlement Général sur la Protection des Données (RGPD) à caractère personnel. La présente politique ne s’applique pas aux sites internet de tiers éventuellement mentionnés sur la plateforme internet www.clickandtrip.fr.
        </p>
        <p>
            <strong> 2 – Domaines concernés</strong> La présente rubrique énonce les principes et lignes directrices pour la protection de Vos données personnelles.         CLICK & TRIP collecte des données personnelles en ligne, par courriel ou par papier ; la présente rubrique s’applique quel que soit le mode de collecte ou de traitement. La notion de données personnelles (les « données personnelles ») désigne toute information relative à une personne physique identifiée ou identifiable.
        </p>
        <p>
            <strong>3 – Type de données collectées 3.1 Généralité</strong>  Les données personnelles collectées peuvent notamment inclurent : - Nom et prénom ; - Fonction ; - Adresse postale ; - Numéro(s) de téléphone; -; Adresse mail - Nom de l’organisation ; - Toute autre Donnée Personnelle pertinente. Les données personnelles collectées se limitent cependant aux données strictement nécessaires aux finalités exposées à l’Article 4 ci-après. Vous êtes libre de fournir ou non tout ou partie de vos données personnelles. Aucune donnée personnelle n’est collectée sans que vous ayez volontairement décidé de la donner. Toutefois, si vous choisissez de ne pas les fournir, une telle décision pourrait empêcher la réalisation des objectifs décrits à l’article 4 ci-après,
            certains services et certaines fonctionnalités de la plateforme www.clickandtrip.fr pourraient alors ne pas fonctionner.</p>
        <p>
          <strong>4 – Méthode de collectage</strong>Si la collecte s’effectue en en ligne, la présente Politique de Protection des données personnelles figurera sur la plateforme internet www.clickandtrip.fr de CLICK & TRIP et, en cas de collecte par papier, Vous serez informé de l’existence de la présente Politique de Protection des données personnelles. Les données personnelles sont généralement collectées pour les besoins de l’activité de CLICK & TRIP et notamment pour : - La gestion des outils de communication (téléphonie fixe, mobile, e-mail) et des systèmes d’information. - La réalisation d’actions de marketing ou de communication - La gestion des missions qui lui sont confiées par ses clients ; - La gestion de la relation client et des fournisseurs ; -; La formation à destination des clients ;
        </p>
       <p> <strong>5- Politique relative aux cookies</strong>
           CLICK & TRIP utilise des cookies et des technologies analogues afin d’alimenter, de protéger et d'améliorer la Plateforme www.clickandtrip.fr de CLICK & TRIP. La présente politique explique comment et pourquoi nous utilisons ces technologies et les choix qui vous sont proposés.
           Un cookie est un petit fichier de données qui est transféré vers votre appareil (par ex. : votre téléphone ou votre ordinateur). Par exemple, un cookie pourrait nous permettre de reconnaître votre navigateur, tandis qu’un autre pourrait conserver vos préférences. Nous utilisons également d’autres technologies offrant des fonctionnalités similaires aux cookies, comme les balises web, pixels, identifiants d’équipement mobile, et URL de suivi, pour obtenir des données de connexion. À titre d’exemple, nos e-mails peuvent contenir des balises web et des URL de traçage afin de savoir si vous avez ouvert un message précis ou accédé à un lien en particulier.</p>
        <p>
            <strong>6 – Transfert des données</strong> En cas d’accès aux sites internet depuis un pays non membre de l’Union européenne dont la législation relative à la collecte, à l’utilisation et au transfert de données diffère de la législation européenne, Vous acceptez de transférer vos données personnelles vers l’Union européenne dans le cadre de Votre navigation sur la plateforme www.clickandtrip.fr .
            Si CLICK & TRIP apprenait qu’un tiers utilise ou divulgue des données personnelles sans respecter la présente Politique de Protection des données personnelles ou en violation de la législation applicable, CLICK & TRIP prendrait toute mesure raisonnable pour prévenir ou mettre fin à une telle utilisation ou divulgation.
        </p>
       <p>
          <strong> 7 – Conditions de traitements et de stockage des données personnelles.</strong> Le « traitement » des données personnelles inclut notamment l’utilisation, la conservation, l’enregistrement, le transfert, l’adaptation, l’analyse, la modification, la déclaration, le partage et la destruction des données personnelles en fonction de ce qui est nécessaire au regard des circonstances ou des exigences légales. Toutes les données personnelles collectées sont conservées pour une durée limitée en fonction de la finalité du traitement et uniquement pour la durée prévue par la législation applicable. Lorsqu’elles ne sont plus conservées, les données personnelles sont détruites.
       </p>
        <p>
          <strong>8 – Liens vers les sites non administrés </strong>par CLICK & TRIP La plateforme www.clickandtrip.fr de CLICK & TRIP peut proposer des liens vers des sites Internet de tiers susceptibles de vous intéresser. CLICK & TRIP n'exerce aucun contrôle sur le contenu de sites de tiers ou sur les pratiques de ces tiers en matière de protection des données personnelles qu'ils pourraient recueillir. En conséquence, CLICK & TRIP décline toute responsabilité concernant le traitement par ces tiers de vos données personnelles. Il est de votre responsabilité de vous renseigner sur les politiques de protection des données personnelles de ces tiers.
        </p>
        <p>
           <strong> 9 – Droit d’accès</strong>, de rectification et d’effacement Vous disposez du droit d’accéder à vos données personnelles. En outre, vous avez le droit de solliciter la rectification, la mise à jour, la portabilité ou la suppression de vos données personnelles. Vous disposez également du droit d’obtenir la communication de vos données personnelles conservées par CLICK & TRIP. De plus, vous disposez également d’un droit à la limitation du traitement de vos données à caractère personnel.
            Vous pouvez exercer vos droits d’accès, de rectification ou d’effacement en envoyant un courrier par voie postale ou électronique accompagné d’une copie de votre carte d’identité à CLICK & TRIP:
            Adresse postale : 42 boulevard de Linz, 44210 PORNIC Adresse e-mail : contact@clickandtrip.fr
        </p>
        <p>
            <strong>10 – Sécurité et destinataires des données</strong> CLICK & TRIP veille à protéger et sécuriser les données personnelles que vous avez choisi de lui communiquer, afin d’assurer leur confidentialité et empêcher qu’elles ne soient déformées, endommagées, détruites ou divulguées à des tiers non autorisés. CLICK & TRIP ne peut pas garantir l’infaillibilité de ces mesures de sécurité en raison de risques inévitables pouvant survenir lors de la transmission de données personnelles. Toutes les données personnelles étant confidentielles, leur accès est limité aux collaborateurs, prestataires et salariés de CLICK & TRIP qui en ont besoin dans le cadre de l’exécution de leur mission.
        </p>
        <p> <strong></strong> et différends Si vous pensez que la sécurité de vos données personnelles a été compromise ou qu’elles ont fait l’objet d’une utilisation abusive, Vous êtes invité à contacter CLICK & TRIP à l’adresse suivante : 42 boulevard de Linz, 44210 PORNIC
        </p>
         <strong>11 – Résolution des litiges et différends</strong> CLICK & TRIP étudiera les réclamations concernant l’utilisation et la divulgation de données personnelles et tentera de les résoudre.
        <p>
            <strong>12 – Révision</strong> La présente Politique de Protection des Données personnelles peut être mise à jour en fonction des besoins de CLICK & TRIP et des circonstances ou si la loi l’exige.
        </p>
            <p>
                <strong>13 – Contact</strong> Pour toute question concernant la présente Politique de Protection des Données personnelles, vous pouvez envoyer un courrier électronique à l’adresse suivante : contact@clickandtrip.fr
            </p>
    </div>

{% endblock %}