{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="padding-for-navbar">
        <img src="http://placehold.it/600x400" alt="">

        <h3> On parle de nous</h3>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A accusamus amet atque cupiditate deserunt dignissimos
            dolore est nam repellendus, voluptatem? Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Dolorem, dolores
            fugit harum ipsa minus quasi qui temporibus? Aperiam, quaerat similique.
            dolore est nam repellendus, voluptatem? Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Dolorem, dolores
            fugit harum ipsa minus quasi qui temporibus? Aperiam, quaerat similique
        </p>

        <img src="http://placehold.it/700x400" alt="">

        <h3> On parle de nous encore</h3>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A accusamus amet atque cupiditate deserunt dignissimos
            dolore est nam repellendus, voluptatem? Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Dolorem, dolores
            fugit harum ipsa minus quasi qui temporibus? Aperiam, quaerat similique.
            dolore est nam repellendus, voluptatem? Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Dolorem, dolores
            fugit harum ipsa minus quasi qui temporibus? Aperiam, quaerat similique
        </p>
    </div>

{% endblock %}