.Planner {
  display: grid;
  grid-template-rows: .5fr 9.5fr;
  grid-template-columns: 70vw 30vw;
  grid-template-areas: "filters filters"
                        "steps mysteps";
  margin-top: 65px;
}

.nav {top:0.1px}