{% extends "base.html.twig" %}

{% block body %}
<h1>Historique de mes voyages:</h1>
{% for history in histories %}
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Date de départ: {{ history.dateBegin|date('Y-m-d') }} </div>
            <div class="meta">Date de fin: {{ history.dateEnd|date('Y-m-d') }} </div>
            <div class="meta">Prix:</div>
            <div class="meta">Nombre de voyageurs:</div>
            <div class="description">
                STATUS: {{ history.state }}
            </div>
            {% if not agencyBool %}
                <a href="{{ path('invoice', {'id': history.id }) }}" target="_blank">Nouvell facture</a>
            {% endif %}
        </div>
    </div>
</div>
    
{% endfor %}
{% endblock %}