.serviceTitle {
  text-align: center;
  margin: 90px;
}

.iframe {
  display:block;
  margin: 0 auto;
  overflow: scroll!important;
}

.affiliateButton{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.affiliateButtonColor{
  background-color: #fd5e5c!important;
}

.buttonTextColor{
  color: #040404;
}

.serviceTitle2{
  text-align: center;
  margin: 100px;
  padding-top: 100px;
}

