@import "vars";

body {
    background-color:#FFFFFF;
}

a {
    color: $warm-color;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}
footer{background:#332727;text-align:center;}
footer a{color:#fff;text-decoration:none; display:inline-block}

@media only screen and (max-width : 769px) {
    footer a{font-size:22px;}
}

h5 {
    color:#fff;

}
.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

li {
    list-style-type: none;
    color:#fff;
    font-size:12px;
}
i {
    color:#fff;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}