.destinationCard{
  font-size: 1.5vw!important;
  margin-left: 50px!important;
  margin-right: 50px!important;
  margin-top: 60px!important;
}

.destinationButton{
  background-color: #ff8080!important;
}