.inspirationTitle{
  display: flex;
  justify-content: center;
  font-size: 1.5vw!important;
}

.h3Title{
  display: flex!important;
  justify-content: center!important;
  border: 5px #00E676;
  border-radius: 15px;
}

.nameStage{
  font-size: 1.7vw!important;
}

.destinationButton{
  background-color: #ff8080!important;
}