.formContainer {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.formContent {
  width: 90%;
  margin-bottom: 40px;
}