
    #success {
        min-height: 80vh;
        width:80vw;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: center;
    }
    .ui.attached.segment {
        padding: 5%;
        text-align: center;
    }
    h2 {
        font-size: 3vmin;
    }