{% extends 'base.html.twig' %}

{% block title %}Click & trip{% endblock %}
{% block stylesheets %}
        {{ encore_entry_link_tags('homepageScss') }}
{% endblock %}
{% block body %}
<div id="host-image">
    <img id="eye-catch-img" alt="#" src="https://c.pxhere.com/photos/2c/f9/beach_walkway_boardwalk_ocean_sea_waves_nature_seascape-498547.jpg!d"/>
    <h2 id="slogan">Créez votre voyage authentique & plus responsable</h2>
    <div id="choice-buttons">
        <button class="ui left attached button">Left</button>
        <button class="right attached ui button">Right</button>
    </div>
</div>
{% endblock %}

