{% extends 'base.html.twig' %}

{% block title %}Listing React Julien{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascript %}
    <script src="../assets/js/app.js"></script>
    {# <script src='https://npmcdn.com/react@15.3.0/dist/react.min.js'></script>
    <script src='https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js'></script> #}
{% endblock %}