{% extends 'base.html.twig' %}

{% block title %}Demande de voyage envoyé{% endblock %}
{% block stylesheet %}
<style>
    #success {
        min-height: 80vh;
        width:80vw;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: center;
    }
</style>
{% endblock %}
{% block body %}
    <div id="padding-for-navbar"></div>
    <div id="success">
        <div class="ui attached segment">
            <h2>Votre demande de voyage a bien été envoyé !! L'équipe Click And Trip vous recontactera via la messagerie interne pour vous tenir informer.</h2>
        </div>
        <div class="ui three bottom attached steps">
            <div class="active step">
                <i class="payment icon"></i>
                <div class="content">
                <div class="title">Billing</div>
                <div class="description">Enter billing information</div>
                </div>
            </div>
            <div class="step">
                <i class="truck icon"></i>
                <div class="content">
                <div class="title">Shipping</div>
                <div class="description">Choose your shipping options</div>
                </div>
            </div>
            <div class="disabled step">
                <i class="info icon"></i>
                <div class="content">
                <div class="title">Confirm Order</div>
                <div class="description">Verify order details</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}