 <div class="footer_list">
    <ul>
        <li><h5> A PROPOS DE CLICK & TRIP </h5></li>
        <li><a href="/a-propos/de-nous">Qui sommes-nous ? </a></li>
        <li><a href="/a-propos/cgu">CGU</a></li>
        <li><a href="/a-propos/mention-légale">Mentions légales </a></li>
        <li>Politique de confidentialité </li>
        <li><a href="/a-propos/presse">Presse</a></li>
        <li><a href="/a-propos/contact">Contactez-nous</a></li>
        <li>Merci à nos ululers</li>
    </ul>
    <ul>
        <li><h5> JE SUIS UN VOYAGEUR</h5></li>
        <li>Réserver mon vol </li>
        <li>Réserver mon parking</li>
        <li><a href="https://www.bsp-auto.com/ag_clickandtrip/">Location de véhicule</a></li>
        <li><a href="https://www.chapkadirect.fr/?app=cd_clicktrip" >Assurance voyage </a></li>
        <li>Remboursement</li>
        <li><a href="https://www.flightright.fr/calculateur-d-indemnisation/?ext_promoCode=ct&utm_source=ct&utm_medium=widget&utm_campaign=link">Retard et annulation</a> </li>
    </ul>
    <ul>
        <li><h5> SUPPORT </h5></li>
        <li><a href="/a-propos/faq">Foire aux questions</a></li>
        <li><a href="/a-propos/devenir-partenaire">Devenir partenaire</a></li>
    </ul>
    <ul>
        <li><h5> SUIVEZ NOUS </h5></li>
        <div class="social">
            <li><a href="https://www.instagram.com/click_and_trip/"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/clickandtrip.fr/"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCvmdl9oBofEd37u_zqpaHtg"><i class="fab fa-youtube fa-2x"></i></a></li>
        </div>
    </ul>
</div>
