<div class="footer_list">
    <ul>
        <li><h5> A PROPOS DE CLICK & TRIP </h5></li>
        <li>Qui sommes-nous ? </li>
        <li>CGU</li>
        <li>Mentions légales </li>
        <li>Politique de confidentialité </li>
        <li>Presse</li>
        <li>Contactez-nous</li>
        <li>Merci à nos ululers</li>
    </ul>
    <ul>
        <li><h5> JE SUIS UN VOYAGEUR</h5></li>
        <li>Réserver mon vol </li>
        <li>Réserver mon parking</li>
        <li>Location de voiture </li>
        <li>Assurance voyage </li>
        <li>Remboursement</li>
        <li>Retard et annulation</li>
    </ul>
    <ul>
        <li><h5> SUPPORT </h5></li>
        <li>Foire aux questions </li>
        <li>Devenir partenaire</li>
    </ul>
    <ul>
        <li><h5> SUIVEZ NOUS </h5></li>
        <div class="social">
            <li><a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/feed/subscriptions"><i class="fab fa-youtube fa-2x"></i></a></li>
        </div>
    </ul>
</div>
