<body style="text-align: center">

<h1>
    Formulaire de contacte:
</h1>

<h3>
    Nom du ou des voyageur(s): {{ data.name }}
</h3>

<h3>
    E-mail: {{ data.email }}
</h3>

<h5>
    Message: {{ data.message }}
</h5>