<h1>Commencez à créer votre projet voyage...</h1>
<h2>Qui voyage ?</h2>
<p class="userAge">Combien de participants ? Merci de fournir le nombre de participant et l’âge des voyageurs qui aide notre expert local à personnaliser votre voyage.</p>
</br>

<h3><p>Adultes</p></h3>
<div class="adult">
    <p>18-34 ans &nbsp; 35-54 ans &nbsp; 55-69 ans &nbsp; 70+ ans</p>
</div>
<div class="adult">
    <div class="ui input">
        <input class="userNumber" type="text">
        <input class="userNumber" type="text">
        <input class="userNumber" type="text">
        <input class="userNumber" type="text">
    </div>
</div>

<h3><p>Enfants</p></h3>
<div class="adult">
    <p>0-2 ans &nbsp; 3-7 ans &nbsp; 8-12 ans &nbsp; 13-17 ans</p>
</div>
<div class="adult">
    <div class="ui input">
        <input class="userNumber" type="text">
        <input class="userNumber" type="text">
        <input class="userNumber" type="text">
        <input class="userNumber" type="text">
    </div>
</div>
</div>

<form class="ui form">
    <div class="grouped fields">
        <h2>Quand souhaitez-vous partir ? Merci de cocher la réponse
        </h2>
        <div class="userDate">
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="example2" checked="checked">
                    <label>J'ai des dates exactes. Choisissez une date de début et une date de fin.</label></div></div></div>
        </br>
        </br>
        <div class="userDate4">
            <label for="start">Date de départ:</label>

            <input type="date" id="start" name="trip-start">
            </br>
            <label for="start">&nbsp; &nbsp; Date de d'arrivé:</label>

            <input type="date" id="start" name="trip-start">
        </div>
    </div>
    </div>
    </div>
    </br>
    </br>
    <div class="userDate2">
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>J'ai une idée approximative.</label>
                <p>Mois:</p>
                <div class="ui input">
                    <input class="wantedDate" type="text">
                    <p>Années:</p>
                    <input class="wantedDate" type="text">
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="userDate3">
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Je n'ai pas décidé </label>
            </div>
        </div>
    </div>
    </div>
    </div>
    <h2>Quelles sont vos disponibilités pour un rendez-vous téléphonique?</h2>
    <div class="containerFluid">
        <div class="inputContainer">
            <div class="disponibilityDay">
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Lundi</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Mardi</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Mercredi</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Jeudi</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Vendredi</label>
                </div>
            </div>
            <div class="disponibilityHour">
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Entre 10h et 12h00</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Entre 13h et 14h</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Entre 14h et 16h</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Entre 16h et 17h30</label>
                </div>
            </div>
        </div>
    </div>
    <h2>Merci de nous indiquer votre numéro de téléphone</h2>
    <div class="adult">
        <div class="ui input">
            <input type="text" placeholder="Veuillez écrire votre numéro">
        </div>
    </div>
    </br>
    </br>
    <p class="userAge">Vous avez presque terminé ! Veuillez nous en dire le plus possible sur vos projets et vos exigences particulières. Plus il y a de détails, plus votre expert local pourra personnaliser votre voyage ! Merci de nous préciser tout lieu ou expérience que
        vous souhaitez absolument inclure dans votre itinéraire.Pour commencer à planifier votre voyage, vous devez disposer d'un compte Click&Trip. Avecvotre adresse e-mail et un mot de passe, vous pourrez planifier votre voyage depuis n'importe quel téléphone
        ou ordinateur.</p>
    <textarea rows="15" cols="65"></textarea>
    </br>
    </br>
    <div class="cgu">
        <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>J'ai lu et j'accepte les conditions générales d'utilisation.</label>
        </div>
    </div>
    <button class="ui button" type="submit">J'envoie ma demande</button>
</form>
