{{ form_start(form) }}
    <ul class="prices" data-prototype="{{ form_widget(form.prices.vars.prototype)|e('html_attr') }}"></ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
