.Conversations {
    grid-area: cv;
    background-color: #f6f6f6;
    overflow-y: scroll;
    border-right: solid;
}

.Messages {
    grid-area: ms;
    position: relative;
    padding: 1.4% 0;
    /* height: 100vh;
    width: 100%; */
    overflow-y:scroll;
    scroll-behavior: smooth;
}

.list-messages {
    height: 90%;
    overflow: auto;
    padding: 1% 2%;
  }
  
.write-send {
    height: 10%;
    position: fixed;
    bottom:-2%;
    width: 100%;
    background-color: black;
    padding-top: 1%;
}

.ui.form .fields > .field:first-child { width: 70%}

.ui.form {padding-left: 1%}

.ui.message {
    width:80%;
}

.ui.message.right {
    float:right;
    background-color: aquamarine;
}
.ui.message.left {
    float:left;
    background-color: azure;
}

.ui.selection.list > .item.selected {background-color: burlywood}