<div style="height: 50px; width:100%; background-color: #007bff;  font-size: 20px; font-family: Arial; padding-left: 8px;padding-top: 12px; color: white;">Click And Trip</div>
<h3>Vous avez reçu un nouveau message sur <a style="text-decoration: none;" href="{{ url('homepage') }}">ClickAndTrip</a></h3>
</br>
<a href="{{ url('profil_mailbox') }}">Cliquez ici pour accéder à la messagerie</a>
</br>
Merci !

L'équipe Click and Trip vous remercie pour votre confiance !
